@model IEnumerable<Kipunji.Models.MemberModel>

<table class="member-list indent">
@foreach(var member in Model) {
    <tr>
        <td><img src="@Html.ResolveUrl(member.Icon)" /></td>
        <td style="width: 400px;">@Html.FormatMemberListDisplay(member)</td>
        <td>@member.FormattedSummary</td>
    </tr>
}
</table>
