@model List<Kipunji.Models.NamespaceModel>

<div class="right-content-pad">
    <p class="indent">
        Reference API documentation is available for the following namespaces provided
        by the <a href="http://www.mono-project.com">Mono Project</a>.
    </p>
    
    @Html.DisplayForModel("NamespaceList")
</div>
