@model Kipunji.Models.TypeModel

<div class="right-content-pad">
    <p class="indent"><span class="summary-type">@Model.FormattedSummary</span></p>

    <h2>Syntax</h2>
    <div class="brush: csharp;">@Model.FormattedTypeSignature(VirtualPathUtility.ToAbsolute ("~/"))</div>

    @{ Html.RenderPartial ("Members"); }

    <h2>Remarks</h2>
    <span class="remarks-type">@Model.FormattedRemarks</span>

    <h2>Version Information</h2>
    <div class="indent">@Model.FormattedVersionInfo</div>
</div>
